<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKoxr4DPkAKANpwBP21nZe2lu8KEsnbak</string>
	<key>GCM_SENDER_ID</key>
	<string>662522172667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackhive.dealsense</string>
	<key>PROJECT_ID</key>
	<string>dealsense-64d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>dealsense-64d3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662522172667:ios:b7005f24a7d415784b4c5e</string>
</dict>
</plist>